body{
    background: linear-gradient(0.25turn, rgb(209, 209, 184), rgb(212, 212, 199), rgb(219, 219, 151));
    background-size: 100% 100%; 
}

img,h3{
    transition: 0.8s;
}

.scalar:hover {
    transform: scale(1.03);    
}

.scalarSegundo:hover {
    transform: scale(1.1);    
}

.scalarTercero:hover {
    transform: translateY(-0.5px) rotateX(0.07turn);   
}

.scalarTitulo:hover {
    transform: scale(1.2);
    cursor: pointer;    
}

.transicionNav:hover{
    transform: scale(1.15, 1.15);
    cursor: pointer;
    background-color: $colorCafe;
}

.transicionBoton:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
    background-color: $colorBlanco;
    color: $colorNegro;
}