.pie{
    background: -webkit-radial-gradient( 30.75em 4.375em, circle farthest-side, rgb(163, 162, 157), rgb(136, 139, 113), rgb(163, 162, 157) );
    &__parrafo{
        font-size: 1em;
        color:$colorPie;
        font-style: $estilo; 
        text-align: justify;
        justify-content: center;
    }
}

.iconoColor{
    font-size: 3em;
    color: $colorIcono;
    vertical-align: bottom;
}

.iconoColorDos{
    @extend .iconoColor;
    color: $colorIconoDos;    
}

.divisionPie{
    
    justify-content: center;
    text-align: center;
}