@media only screen and (max-width:576px){
    h1{
        margin: auto;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 1.5625em;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    ul{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 0.8125em;
        padding: 0.5em
    }

    p{
        font-size: 0.8em;
    }

    .imgUno{
        width: 16.25em;
        height: 13,75em;
    }

    .primerParrafo{
        font-size: 0.6em;
        color:$colorBlanco;
        font-style: $estilo;
        text-align: justify;
        margin: auto;
    }

    .imagenIzquierdaDos{
        float: left;
        height: 11em;
        width: 17em;
        margin: 0.3em;
        border: 0.1em solid $colorBlanco;
    }
    
}

@media only screen and (min-width:576px){
    h1{
        margin: 1%;
        justify-content: center;
        font-size: 1.64em;
    }

    h2{
        font-size: 1.125em;
    }

   
    .wrapper{
        display: flex;
        flex-direction: column;
    }

    ul{
        font-size: 0.75em;
    }

    .primerParrafo{
        font-size: 0.8em;
        color:$colorBlanco;
        font-style: $estilo;
        text-align: justify; 
        margin: auto;
    }

}

@media only screen and (min-width:768px){
    h1{
        margin: 1%;
        justify-content: center;
        font-size: 1.744em;
    }

    h2{
        font-size: 1.35em;
        justify-content: center;
    }

   
    .wrapper{
        align-items: none;
        
    }

    ul{
        font-size: 0.98em;
    }

    .primerParrafo{
        font-size: 0.9em;
        color: $colorBlanco;
        font-style: $estilo;
        text-align: justify; 
        margin: auto;
    }
   
}