legend{
    color: $colorNegro;
    font-size: 1.4em;
    
}

.bigicon {
    font-size: 2.1875em;
    color: $colorNegro;
}

.divisionFormulario{
    display: flex;
    margin:auto;
    padding: 0.625em;
    text-align: center;
    justify-content: center;
}