legend{
    color: black;
    font-size: 1.4em;
    
}

.bigicon {
    font-size: 35px;
    color: black;
}

.divisionFormulario{
    display: flex;
    margin:auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
}