.primerH2{
    color: $colorPrimerH2;
    text-decoration: underline;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
}

.wrapper{
    display: grid;
    grid-gap: 0.625em;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20em;
    grid-template-areas: "area1 area2 area3";            
}

@mixin cajas ($colorFondo, $orientacion){
    background-color: $colorFondo;
    display: $orientacion;
}

.cajaUno{ 
    @include cajas($colorCaja,inline-block );   
    grid-area: area1;
    flex-direction: row;
    border-radius: 0.5em;
    width: 90%;
}