.wrapperDos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(auto);
    grid-gap: 1.875em;
}

.wrapperDos div{
    background-color: $colorCrema;
    width: 80%;
    border-radius: 0.2em;
    margin: auto
}

@mixin imagenes ($flotacion, $margen){
    float: $flotacion;
    margin: $margen;
}

.imagenIzquierda{
    @include imagenes(left,0.3em ); 
    height: 22.5em;
    width: 19em;   
}

.imagenIzquierdaDos{
    @include imagenes(left,0.3em );    
    height: 18.5em;
    width: 24.5em;    
    border: 0.1em solid $colorBlanco;
}

.imagenDerecha{
    @extend .imagenIzquierda;
    float: right;    
}

p span {
    display: block;
}

ul{
    
    text-align:center;
    
}

li{
    display:block;
    font-size: 0.9em;
    color: $colorAzul;
}