$colorTitulo: rgb(104, 7, 2);
$colorTitulo2: rgb(12, 12, 12);
$colorTitulo3: rgb(33, 25, 87);
$colorParrafo: rgb(33, 10, 54);
$colorCabecera: rgb(104, 7, 2);
$colorItem: rgb(22, 2, 68);
$colorLink: white;
$colorLinkHover: black;
$colorLinkActive: #270303;
$colorPie: rgb(255, 249, 255);
$colorIcono: rgb(22, 1, 22);
$colorIconoDos: rgb(255, 251, 255);
$colorPrimerH2: rgb(2, 23, 39);
$colorCaja: #879482;
$colorDivision: rgb(160, 161, 161);
$colorWrapper2: rgb(238, 238, 218);
$colorForm: rgb(211, 202, 202);
$colorFondoBoton2: rgb(241, 235, 234);
$colorBoton2: rgb(15, 1, 1);
$colorFondoBoton1: rgb(49, 46, 45);
$colorBoton1: rgb(240, 232, 232);
$colorInput: rgb(250, 248, 248);