$colorRojoOscuro: rgb(104, 7, 2);
$colorNegro: rgba(27, 22, 22, 0.836);
$colorAzul: rgb(33, 25, 87);
$colorMorado: rgb(33, 10, 54);
$colorBlanco: rgb(255, 255, 255);
$colorPurpura: #270303;
$colorAzulOscuro: rgb(2, 23, 39);
$colorGris: #879482;
$colorGrisClaro: rgb(160, 161, 161);
$colorCrema: rgb(238, 238, 218);
$colorCafe: rgb(141, 130, 120);